[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease, @directon: normal, @iteration: 1) {
	-webkit-animation: @name @duration @delay @ease @directon @iteration;
	-moz-animation:    @name @duration @delay @ease @directon @iteration;
	-ms-animation:    @name @duration @delay @ease @directon @iteration;
	animation:   @name @duration @delay @ease @directon @iteration;
 
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
    transition:      @transition; 
}
.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
    transform: 		 @string;
}
.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
    transform: 		 scale(@factor);
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
    transform: 		 rotate(@deg);
}
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
    transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
    transform: 		 translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective: 	@value;
	-ms-perspective: 	@value;
	perspective: 		@value;
}
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
    transform-origin:      @x @y;
}
.o(@color: red) {
    outline: @color solid 1px;
}


/* color */
.blue, .primary {
    background: #0072c6;
}

.green, .success {
    background: #7fba00;
}
.orange, .warning {
    background: #ff8c00;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

button, .button {
    padding: .8rem 1rem;
}

.block {
    display: block;
    width: 100%;
}
//override toastrjs positioning
.toast-top-right {
    top: 70px;
}

.page-title {
    text-transform: uppercase;
    margin-top: 2.5%;
}
.progress {
    background-color: none;
    height: 10px;
    border: none;
    padding: 0;

    .transition(transform .5s); 
    .translate(0, -115%);
}
.progress.show {
    .translate(0, 0%);
}

section.padded {
    margin: 2.5% 0;
}

.container {
    width: 96%;
    max-width: 1180px;
}

ul.off-canvas-list li:first-child label {
    padding: 0.7rem 0.9375rem;
}

.create-routine {
    .inner-wrap {
        min-height: 300px;
    }

   
            .add-to-routine, .exercise-selected {
                margin: 0;
                color: #333;
                font-size: 1.5rem;
                /*margin-left: 2rem;*/
            }

            .exercise-selected {
                color: #7fba00;
            }

            .ex {
                margin-bottom: 5px;
            }
   

    a.fi-eye {
        font-size: 2.3rem;
        width: 2.8125rem;
        height: 2.8125rem;
        display: block;
        padding: 0;
        color: #fff;
        position: relative;
        text-align: center;
    }
}



ul.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    

    li {
        margin: 0;
        padding: 0;

        i {
        font-size: 1.5rem;
        padding: 0;
        position: relative;
        text-align: center;
        margin-right: 1rem;
    }

        a {
            display: block;
            padding: 0.333rem;
            padding: 0;
            padding-left: 0;
            color: #222;
            border-bottom: #d9d9d9;
        }
    }
}

.avatar { 
    display: block;
}
.avatar-wrapper{
    border-radius: 100px;
    overflow: hidden;
}

.block-panel {
margin-bottom: 1rem;
padding: 1rem;
background: #f2f2f2;
display: block;
color: #333;
}

.rtn{
    border-left: red solid 5px;
}

.rtn.completed{
     border-left-color: #7fba00;
}