.panel {
  padding: .8rem;
}
.off-canvas-list .button {
  margin-bottom: 0;
}
section.tab-bar-section.middle {
  left: 1%;
  text-align: left;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
/* color */
.blue,
.primary {
  background: #0072c6;
}
.metro {
  color: #187dc7;
}
.green,
.success,
.button.success {
  background: #7fba00;
}
.red,
.alert,
.button.alert,
.danger,
.button.danger,
label.alert {
  background: #ea2f10;
}
button.alert:hover,
button.alert:focus,
.button.alert:hover,
.button.alert:focus {
  background-color: #f04124;
}
.orange,
.warning {
  background: #ff8c00;
}
body {
  background: #fafafa;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-style: normal;
}
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
button,
.button {
  padding: .8rem 1rem;
}
.block {
  display: block;
  width: 100%;
}
.toast-top-right {
  top: 70px;
}
.page-header {
  margin-top: 2.5%;
}
.page-header .icon-link {
  text-align: right;
  color: #008cba;
  font-size: 1.3rem;
  padding: 0;
  font-weight: 100;
  line-height: 1.4;
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
}
.page-title {
  text-transform: uppercase;
}
.progress-bar {
  display: none;
  position: relative;
  top: -15px;
}
.progress-bar.show {
  display: block;
}
section.padded {
  margin: 2.5% 0;
}
.container {
  width: 96%;
  max-width: 1180px;
  margin: 0 auto;
}
.row {
  max-width: 1180px;
}
.top-bar .name h1 a {
  padding-left: 0;
}
ul.off-canvas-list li:first-child label {
  padding: 0.7rem 0.9375rem;
}
section.right-small.top-a {
  right: 2.8125rem;
}
section.right-small.top-b {
  right: 5.625rem;
}
section.right-small.top-c {
  right: 8.4375rem;
}
a.nav-icon {
  width: 2.8125rem;
  height: 2.8125rem;
  display: block;
  padding: 0;
  color: #fff;
  position: relative;
  font-size: 165%;
  text-align: center;
}
.notify {
  position: absolute;
  bottom: 3px;
  left: 3px;
  padding: 0.2rem 0.3rem 0.2rem;
}
.create-routine .inner-wrap {
  min-height: 300px;
}
.create-routine .add-to-routine,
.create-routine .exercise-selected {
  margin: 0;
  color: #333;
  font-size: 1.5rem;
  /*margin-left: 2rem;*/

}
.create-routine .exercise-selected {
  color: #7fba00;
}
.create-routine .ex {
  margin-bottom: 5px;
}
.create-routine a.fi-eye {
  font-size: 2.3rem;
  width: 2.8125rem;
  height: 2.8125rem;
  display: block;
  padding: 0;
  color: #fff;
  position: relative;
  text-align: center;
}
ul.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.menu-list li {
  margin: 0;
  padding: 0;
}
ul.menu-list li i {
  font-size: 1.5rem;
  padding: 0;
  position: relative;
  text-align: center;
  margin-right: 1rem;
}
ul.menu-list li a {
  display: block;
  padding: 0.333rem;
  padding: 0;
  padding-left: 0;
  color: #222;
  border-bottom: #d9d9d9;
}
.avatar {
  display: block;
}
.avatar-wrapper {
  border-radius: 100px;
  overflow: hidden;
}
.page,
.page-content {
  margin-top: 10px;
}
.block-panel {
  margin-bottom: 1rem;
  padding: .8rem;
  background: #f2f2f2;
  display: block;
  color: #333;
}
a.panel {
  color: #333;
}
.small-block-grid-1 .panel,
.small-block-grid-2 .panel,
.small-block-grid-1 .block-panel,
.small-block-grid-2 .block-panel {
  margin-bottom: 0;
}
.rtn {
  border-left: red solid 5px;
}
.rtn.completed {
  border-left-color: #7fba00;
}
#outer-barG {
  height: 15px;
  width: 139px;
  overflow: hidden;
}
.bar-lineG {
  background-color: #1C88DB;
  float: left;
  width: 10px;
  height: 65px;
  margin-right: 13px;
  margin-top: -15px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.bar-animationG {
  margin-left: 91px;
  width: 91px;
  -moz-animation-name: bar-animationG;
  -moz-animation-duration: 2.4s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-animation-name: bar-animationG;
  -webkit-animation-duration: 2.4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-animation-name: bar-animationG;
  -ms-animation-duration: 2.4s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-animation-name: bar-animationG;
  -o-animation-duration: 2.4s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  animation-name: bar-animationG;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
@-moz-keyframes bar-animationG {
  0% {
    margin-left: 84px;
    margin-top: -10px;
  }
  100% {
    margin-left: -69px;
    margin-top: -10px;
  }
}
@-webkit-keyframes bar-animationG {
  0% {
    margin-left: 84px;
    margin-top: -10px;
  }
  100% {
    margin-left: -69px;
    margin-top: -10px;
  }
}
@-ms-keyframes bar-animationG {
  0% {
    margin-left: 84px;
    margin-top: -10px;
  }
  100% {
    margin-left: -69px;
    margin-top: -10px;
  }
}
@-o-keyframes bar-animationG {
  0% {
    margin-left: 84px;
    margin-top: -10px;
  }
  100% {
    margin-left: -69px;
    margin-top: -10px;
  }
}
@keyframes bar-animationG {
  0% {
    margin-left: 84px;
    margin-top: -10px;
  }
  100% {
    margin-left: -69px;
    margin-top: -10px;
  }
}
.tab-bar-section .title {
  text-transform: uppercase;
}
.client-info .name {
  margin-bottom: 0;
}
.client-info .name small {
  text-transform: uppercase;
  color: #333;
}
.client-info .package {
  margin-bottom: 0;
}
html,
body,
.off-canvas-wrap,
.inner-wrap {
  height: 100%;
}
.off-canvas-wrap {
  overflow: hidden;
  overflow-y: scroll;
}
.off-canvas-wrap.move-left {
  overflow-y: hidden;
}
.card {
  margin-bottom: 0;
  padding: .8rem;
  background: #f2f2f2;
  display: block;
}
.card .appt-time {
  color: #6f6f6f;
}
.card .appt-time .main {
  font-size: 5rem;
  line-height: .7;
  margin: 0;
  padding: 0;
}
.card .appt-time sup {
  top: -2.3rem;
  font-size: 22px;
}
.card .avatar-wrapper {
  max-width: 80px;
}
.icon-link {
  display: block;
  padding: 0.333rem;
  padding-left: 0;
  color: #222;
}
.icon-link i {
  padding: 0;
  position: relative;
  text-align: center;
  margin-right: .7rem;
}
