[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
/* color */
.blue,
.primary {
  background: #0072c6;
}
.green,
.success {
  background: #7fba00;
}
.orange,
.warning {
  background: #ff8c00;
}
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.toast-top-right {
  top: 70px;
}
.progress {
  background-color: none;
  height: 10px;
  border: none;
  padding: 0;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate(0, -115%);
  -moz-transform: translate(0, -115%);
  -ms-transform: translate(0, -115%);
  -o-transform: translate(0, -115%);
  transform: translate(0, -115%);
}
.progress.show {
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  -o-transform: translate(0, 0%);
  transform: translate(0, 0%);
}
