/* color */
.blue, .primary {
    background: #0072c6;
}

.green, .success {
    background: #7fba00;
}
.orange, .warning {
    background: #ff8c00;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

//override toastrjs positioning
.toast-top-right {
    top: 70px;
}