@import "_overrides.less";
@import "_mixins.less";



/* color */
.blue, .primary {
    background: #0072c6;
}

.metro {
    color:  #187dc7;
}

.green, .success, .button.success {
    background: #7fba00; 
}

.red, .alert, .button.alert, .danger, .button.danger, label.alert {
    background: #ea2f10; 
}
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
background-color: #f04124;
}

.orange, .warning {
    background: #ff8c00;
}

.o{
    outline: red solid 1px;
}
.block-center{
    display: block;
    text-align: center;
}
body {
    background: #fafafa;
    font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
font-style: normal;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}



.block {
    display: block;
    width: 100%;
}

//override toastrjs positioning
.toast-top-right {
    top: 70px;
}

.page-header { 
 
    margin-top: 2.5%;

    .icon-link{
           text-align: right;
           color: #008cba;
               font-size: 1.3rem;
               padding: 0;
        font-weight: 100;
    line-height: 1.4;
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;

    }

  
}

.page-title{
       text-transform: uppercase;
}
.progress-bar {
   display: none;
   position: relative;
top: -15px;
}
.progress-bar.show {
    display: block;
}

section.padded {
    margin: 2.5% 0;
}

.container {
    width: 96%;
    max-width: 1180px;
    margin: 0 auto;
}
.row{
    max-width: 1180px; 
}

.top-bar .name h1 a {
    padding-left: 0;
}

ul.off-canvas-list li:first-child label {
    padding: 0.7rem 0.9375rem;
}

section.right-small.top-a {
right: 2.8125rem;
}
section.right-small.top-b {
right: 2.8125rem * 2;
}
section.right-small.top-c {
right: 2.8125rem * 3;
}

a.nav-icon {
//text-indent: 2.1875rem;
width: 2.8125rem;
height: 2.8125rem;
display: block;
//line-height: 2.0625rem;
padding: 0;
color: #fff;
position: relative;

font-size: 165%;
text-align: center;
}

.notify{
    position: absolute;
    bottom: 3px;
    left: 3px;
    padding: 0.2rem 0.3rem 0.2rem;
}
.create-routine {
    .inner-wrap {
        min-height: 300px;
    }

   
            .add-to-routine, .exercise-selected {
                margin: 0;
                color: #333;
                font-size: 1.5rem;
                /*margin-left: 2rem;*/
            }

            .exercise-selected {
                color: #7fba00;
            }

            .ex {
                margin-bottom: 5px;
            }
   

    a.fi-eye {
        font-size: 2.3rem;
        width: 2.8125rem;
        height: 2.8125rem;
        display: block;
        padding: 0;
        color: #fff;
        position: relative;
        text-align: center;
    }

     section.right-small {
        width: 5.8125rem;
        a{
            display: block;
            text-align: center;
            color: #7fba00;
        }
    }
}



ul.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    

    li {
        margin: 0;
        padding: 0;

        i {
        font-size: 1.5rem;
        padding: 0;
        position: relative;
        text-align: center;
        margin-right: 1rem;
    }

        a {
            display: block;
            padding: 0.333rem;
            padding: 0;
            padding-left: 0;
            color: #222;
            border-bottom: #d9d9d9;
        }
    }
}

.avatar { 
    display: block;
}
.avatar-wrapper{
    border-radius: 100px;
    overflow: hidden;
}

.page, .page-content{
    margin-top: 10px;
}
.block-panel {
margin-bottom: 1rem;
padding: .8rem;
background: #f2f2f2;
display: block;
color: #333;
}
a.panel {
color: #333; 
}
.small-block-grid-1 .panel, .small-block-grid-2 .panel,
.small-block-grid-1 .block-panel, .small-block-grid-2 .block-panel {
    margin-bottom: 0;
}

.rtn{
    border-left: red solid 5px;
}

.rtn.completed{
     border-left-color: #7fba00;
}

//loading animation
#outer-barG{
height:15px;
width:139px;
overflow:hidden;


}

.bar-lineG{
background-color:#1C88DB;
float:left;
width:10px;
height:65px;
margin-right:13px;
margin-top:-15px;
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

.bar-animationG{
margin-left:91px;
width:91px;
-moz-animation-name:bar-animationG;
-moz-animation-duration:2.4s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-animation-name:bar-animationG;
-webkit-animation-duration:2.4s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-animation-name:bar-animationG;
-ms-animation-duration:2.4s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-animation-name:bar-animationG;
-o-animation-duration:2.4s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
animation-name:bar-animationG;
animation-duration:2.4s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#front-barG{
}

@-moz-keyframes bar-animationG{
0%{
margin-left:84px;
margin-top:-10px}

100%{
margin-left:-69px;
margin-top:-10px}

}

@-webkit-keyframes bar-animationG{
0%{
margin-left:84px;
margin-top:-10px}

100%{
margin-left:-69px;
margin-top:-10px}

}

@-ms-keyframes bar-animationG{
0%{
margin-left:84px;
margin-top:-10px}

100%{
margin-left:-69px;
margin-top:-10px}

}

@-o-keyframes bar-animationG{
0%{
margin-left:84px;
margin-top:-10px}

100%{
margin-left:-69px;
margin-top:-10px}

}

@keyframes bar-animationG{
0%{
margin-left:84px;
margin-top:-10px}

100%{
margin-left:-69px;
margin-top:-10px}

}

.tab-bar-section .title{
    text-transform: uppercase; 
}

.client-info {
    .name{
        margin-bottom: 0;
    }
    .name small { 
        text-transform: uppercase;
        color: #333;
    }
    .package{
        margin-bottom: 0;
    }
}

//height fixer
html, body, .off-canvas-wrap, .inner-wrap{
    height: 100%;
}

.off-canvas-wrap {
overflow: hidden;
overflow-y: scroll;
}
.off-canvas-wrap.move-left {
overflow-y: hidden;
}

.card{
margin-bottom: 0;
padding: .8rem;
background: #f2f2f2;
display: block;

.appt-time{
    color: #6f6f6f;
    .main{
        font-size: 5rem;
        line-height: .7;
        margin: 0;
        padding: 0;
    }
    sup{
        top: -2.3rem;
font-size: 22px;
    }
}

.avatar-wrapper{
    max-width: 80px;
}

.package{
    color: #6f6f6f;
    margin-bottom: 0;
}
}

.icon-link{
    display: block;
    padding: 0.333rem;
    padding-left: 0;
     color: #222;

    i {
    padding: 0;
    position: relative;
    text-align: center;
    margin-right: .7rem;
  

    }
}

.italics{
    font-style: italic;
}


