
<div class="row page">
    <div class="row">
        <div class="small-12 medium-8 columns">
            <h3 class="page-title">Fitness Organization Signup</h3>

        </div>
    </div>


    <div class="page-content">

        <form data-abide ng-submit="saveOrg()">

            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>Fitness Organizaton Name</label>
                    <input type="text" placeholder="Name" ng-model="org.name" required />
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>Location</label>
                    <input type="text" placeholder="Bellevue, WA" ng-model="org.location" required />
                </div>
            </div>

            <!--<div class="row">
            <div class="small-12 medium-6 columns">
                <label>General Email</label>
                <input type="email" placeholder="Email" ng-model="org.email" required />
            </div>

        </div>-->

            <section class="padded">
                <div class="row">
                    <div class="small-12 medium-6 columns">

                        <div class="row">
                            <div class="small-12 columns">
                                <h3>Setup Administrators</h3>
                                <div class="panel callout">
                                    <p>Administrators will have permissions to add new fitness locations, trainers, users, delete users, de-activate accounts etc</p>
                                </div>
                            </div>
                            <div class="small-12 columns">
                                <h5>Admins</h5>
                                <ul class="small-block-grid-3" ng-repeat="admin in admins">
                                    <li>
                                        <label>First Name</label>
                                        <input type="text" placeholder="First Name" ng-model="admin.firstName" required />

                                    </li>
                                    <li>
                                        <label>Last Name</label>
                                        <input type="text" placeholder="Last Name" ng-model="admin.lastName" required />
                                    </li>
                                    <li>
                                        <label>Email</label>
                                        <input type="email" placeholder="Email" ng-model="admin.email" required />
                                    </li>
                                </ul>
                            </div>
                            <div class="small-12 columns">
                                <a ng-click="addAnotherAdmin()" class="icon-link right"><i class="fi-plus size-72"></i><span>add another admin</span></a>
                            </div>

                        </div>
                        <section class="padded">
                            <div class="row">
                                <div class="small-12 columns">
                                    <input class="button" type="submit" value="Submit" />
                                </div>
                            </div>

                        </section>

                    </div>
                </div>


            </section>

        </form>

    </div>
</div>

