<div class="row page">
    <div class="page-header">
        <div class="row">
            <div class="small-6 medium-8 columns">
                <h3 class="page-title">Add Exercise</h3>

            </div>

            <div class="small-6 medium-4 columns">
            </div>

        </div>
    </div>


    <div class="page-content">

        <form ng-submit="addExercise()" ng-model="exercise">

            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label for="firstName">First Name:</label>
                    <input type="text" placeholder="name" ng-model="exercise.name" required autofocus/>
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label for="muscleGroup">Muscle Groups (Ctrl + click to select multiple)</label>
                    <select id="muscleGroup" ng-multiple="true" multiple ng-attr-size="{{muscleGroups.length}}" 
                            ng-model="selectedMuscleGroups" required>
                        <option ng-repeat="mg in muscleGroups" value="{{mg.id}}">{{mg.name}}</option>
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label for="cat">Exercise categories (Ctrl + click to select multiple)</label>
                    <select id="cat" ng-multiple="true" multiple ng-attr-size="{{categories.length}}"
                            ng-model="selectedCategories" required>
                        <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
                    </select>
                </div>
            </div>

           
                       
            <div class="row"><div class="small-12 columns"><input class="button" type="submit" value="Submit" /></div></div>
        </form>
    </div>
</div>