<section class="row page">
    <div class="page-header">
        <div class="row">
            <div class="small-12 large-6 columns">
                <h3 class="page-title">Create Routine Assignments</h3>
            </div>

            <div class="small-12 large-6 columns" ng-show="selectedClients.length">
                <ul class="small-block-grid-6 medium-block-grid-10 large-block-grid-8">

                    <li ng-repeat="client in selectedClients">
                        <a ng-click="removeClient(client)" class="">
                            <div class="row">
                                <div class="small-12 columns">
                                    <div class="avatar-wrapper">
                                        <img ng-src="{{client.imageUrl}}" alt="" />
                                    </div>
                                </div>

                            </div>

                        </a>

                    </li>


                </ul>
                <h5>Routine: {{routine.name}}</h5>
                <h5>Date: {{date}}</h5>
            </div>

        </div>
    </div>
    <div class="page-content">
        <div class="step1" ng-show="step1">
            <div class="row">
                <div class="small-9 columns">
                    <h4>Step 1: Select clients</h4>
                </div>
                <div class="small-3 columns">
                    <a href="" class="icon-link r" ng-click="showStep2()" ng-show="selectedClients.length"><span>Next</span> <i class="fi-arrow-right size-72"></i></a>

                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-8">
                        <li ng-repeat="client in clients">
                            <a ng-click="clientSelected(client)" class="panel block-panel">
                                <div class="row">
                                    <div class="small-12 columns">
                                        <div class="avatar-wrapper">
                                            <img ng-src="{{client.imageUrl}}" alt="" />
                                        </div>
                                    </div>

                                    <div class="small-12 columns client-info">
                                        <h3 class="name"><small><span>{{client.firstName}}</span> <span class="show-for-large-up">{{client.lastName}}</span></small></h3>

                                    </div>
                                </div>

                            </a>

                        </li>


                    </ul>

                </div>


            </div>
        </div>

        <div class="step2" ng-show="step2">
            <div class="row">
                <div class="small-9 columns">
                    <h4>Step 2: Select a routine</h4>
                </div>
                <div class="small-3 columns">
                    <a href="" class="icon-link r" ng-click="showStep3()" ng-show="routine"><span>Next</span> <i class="fi-arrow-right size-72"></i></a>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <div class="row">
                        <div class="small-12 columns" ng-hide="routines.length">
                            <div class="panel">
                                <h3><small>You have no routines created. <a href="#/createRoutine" ng-href="#/createRoutine">Create a routine</a></small></h3>
                            </div>
                        </div>
                        <div class="small-12 columns">
                            <ul class="small-block-grid-1 medium-block-grid-3">
                                <li ng-repeat="routine in routines">
                                    <a class="block-panel" ng-click="routineSelected(routine)">{{routine.name}}</a>

                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="step3" ng-show="step3">
            <div class="row">
                <div class="small-10 columns">
                    <h4>Step 3: Select routine date </h4>
                </div>
                <div class="small-2 columns">
                    <!--<a href="" class="icon-link r" ng-click=""><span>next</span> <i class="fi-arrow-right size-72"></i></a>-->
                </div>
            </div>
            <div class="row">
                <div class="small-12  columns">
                    <div class="row">
                        <div class="small-12 columns" ng-hide="routines.length">
                            <div class="panel">
                                <h3><small>You have no routines created. <a href="#/createRoutine" ng-href="#/createRoutine">Create a routine</a></small></h3>
                            </div>
                        </div>
                        <div class="small-12 columns">

                            <div id="datepicker"></div>
                        </div>
                    </div>

                    <section class="padded">
                        <div class="row">
                            <div class="small-12 columns">
                                <button ng-click="submit()">Submit</button>
                            </div>
                        </div>

                    </section>

                </div>
            </div>


        </div>


    </div>
</section>