<section class="row page">
    <h3 class="page-title">Create training routine</h3>

    <div class="page-content">
       
        <section class="padded">
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <form>
                        <div class="row collapse">
                            <div class="small-3  columns">
                                <span class="prefix">Routine Name: </span>
                            </div>

                            <div class="small-9 columns">
                                <input type="text" placeholder="Enter routine name, required" ng-model="routineName" autofocus>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3  columns">
                                <span class="prefix">Description: </span>
                            </div>

                            <div class="small-9 columns">
                                <input type="text" placeholder="notes, instructions, etc" ng-model="description">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-6 columns">
                

                    <div class="off-canvas-wrap create-routine">
                        <div class="inner-wrap">
                            <!-- Off Canvas Menu -->
                            <aside class="left-off-canvas-menu">
                                <!-- whatever you want goes here -->
                                <ul class="off-canvas-list">
                                    <li><label>Select muscle group</label></li>
                                    <li ng-repeat="bp in bodyParts"><a href="" ng-click="selectBodypart(bp)">{{bp.name}}</a></li>
                                </ul>
                            </aside>

                            <aside class="right-off-canvas-menu">
                                <ul class="off-canvas-list">
                                    <li><label>Your new routine ({{selectedExercises.length}})</label></li>
                                    <li ng-repeat="ex in selectedExercises"><a href="">{{ex.name}}</a></li>
                                </ul>
                                <button ng-click="saveRoutine()" class="button block" ng-show="selectedExercises.length">Save</button>
                            </aside>

                            <!-- main content goes here -->
                            <nav class="tab-bar">
                                <section class="left-small">
                                    <a class="left-off-canvas-toggle fi-list"><span></span></a>
                                </section>
                                <section class="right tab-bar-section">
                                    <h1 class="title">{{exTitle}}</h1>
                                </section>
                                <section class="right-small  hide-for-large-up" ng-show="selectedExercises.length">
                                    <!--<a class="right-off-canvas-toggle fi-eye"><span></span></a>-->
                                    <a href="" class="right-off-canvas-toggle ">Preview</a>
                                </section>
                            </nav>

                            <section class="padded">
                                <div class="row ex" ng-repeat="exercise in exercises">
                                    <div class="small-6 columns"><p>{{exercise.name}}</p> </div>
                                    <!--<div class="small-4 columns">
                                        <span ng-repeat="tag in split(exercise.tags)">
                                            <span class="label secondary">{{tag}}</span>
                                        </span>
                                    </div>-->
                                    <div class="small-3 columns">
                                        <a class="add-to-routine block-center" ng-click="addExercise(exercise)" ng-hide="exercise.selected">
                                            <i class="step fi-plus size-72"></i>
                                        </a>
                                        <a class="exercise-selected block-center" ng-href=""  ng-show="exercise.selected" >
                                            <i class="step fi-check size-72"></i>
                                        </a>

                                    </div>


                                </div>

                            </section>

                            <!-- close the off-canvas menu -->
                            <a class="exit-off-canvas"></a>
                        </div>
                    </div>
                </div>

                <div class="large-6 columns show-for-large-up">
                    <div class="panel">
                        <h3>Routine Details</h3>
                        <p ng-hide="selectedExercises.length">You have no exercises added to your routine</p>
                        <p ng-repeat="ex in selectedExercises">{{ex.name}}</p>
                        <button ng-click="saveRoutine()" class="button" ng-show="selectedExercises.length">Save</button>
                    </div>
                </div>
            </div>

        </section>

                <section class="padded">
                    <form></form>

                </section>

            </div>
</section>