<div class="row page">
    <div class="row">
        <div class="small-12 medium-8 columns">
            <h3 class="page-title">Select an exercise</h3>

        </div>
    </div>

    <div class="page-content">
        <div class="row">
            <!--<div class="small-12 medium-6  large-4 columns" ng-repeat="ex in exercises">
                <a ng-href="" ng-click="selectExercise(ex)" class="block-panel rtn">{{ex.name}}</a>
            </div>-->
            <div class="small-12 columns">
                <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
                    <li ng-repeat="ex in exercises"><a ng-href="" ng-click="selectExercise(ex)" class="block-panel rtn " ng-class="{true:'completed'} [ex.completed]">{{ex.name}}</a></li>
                </ul>

            </div>
        </div>


        <div class="row">
            <div class="small-12 medium-4 columns">
                <a ng-href="#/summary" ng-click="" class="button primary">View workout summary</a>
            </div>

        </div>
    </div>
</div>