<div class="row page">
    <div class="page-header">
        <div class="row">
            <div class="small-6 medium-8 columns">
                <h3 class="page-title">My Routines</h3>

            </div>

            <div class="small-6 medium-4 columns">
                <a href="#/createRoutine" class="icon-link"><i class="fi-plus size-72"></i><span>Add routine</span></a>
            </div>

        </div>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="small-12 medium-6 columns" ng-hide="routines.length">
                <div class="panel">
                    <h3><small>You have no routines created. <a href="#/createRoutine" ng-href="#/createRoutine">Create a routine</a></small></h3>
                </div>
            </div>
            <div class="small-12 columns">

                <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
                    <li ng-repeat="routine in routines"  class="xxboom">
                        <a class="block-panel" ng-click="routineSelected(routine)">{{routine.name}}</a>
                        <a href="">Edit</a>

                    </li>

                </ul>

            </div>
        </div>

    </div>
</div>