<div class="row page">
    <h3 class="page-title">Select a client</h3>

    <div class="page-content">
        <div class="row">
            <div class="small-12 columns">
                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" >
                    <li ng-repeat="client in clients">
                        <a class="panel avatar" ng-href="" ng-click="clientSelected(client)">
                            <div class="row">
                                <div class="small-4 medium-5 columns">
                                    <div class="avatar-wrapper">
                                        <img ng-src="{{client.imageUrl}}" alt="" />
                                    </div>
                                </div>

                                <div class="small-8 medium-7 columns">
                                    {{client.firstName}} {{client.lastName}}
                                </div>
                            </div>

                        </a>
                    </li>
                </ul>

            </div>
               
        </div>


    </div>
</div>