

<div class="row">
    <div class="small-12 medium-6 columns">
        <label for="firstName">First Name:</label>
        <input type="text" placeholder="firstName" ng-model="client.firstName" required />
    </div>
</div>

<div class="row">
    <div class="small-12 medium-6 columns">
        <label for="lastName">Last Name:</label>
        <input type="text" placeholder="lastName" ng-model="client.lastName" required />
    </div>
</div>

<div class="row">
    <div class="small-12 medium-6 columns">
        <label for="email">Email:</label>
        <input type="text" placeholder="email" ng-model="client.email" required />
    </div>
</div>

<div class="row">
    <div class="small-12 medium-6 columns">
        <label for="gender">Gender</label>
        <select id="gender" ng-model="client.gender" required>
            <option value="F">Female</option>
            <option value="M">Male</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="small-12 medium-6 columns">
        <label for="phone">Phone:</label>
        <input type="text" placeholder="phone" ng-model="client.phone" />
    </div>
</div>

<div class="row">
    <div class="small-12 medium-6 columns">
        <label for="image">Image Url</label>
        <input type="text" placeholder="" ng-model="client.imageUrl" />
    </div>
</div>

<div class="row">
    <div class="small-12 medium-6 columns">
        <div class="panel">
            <label for="remote">Is this a remote client</label>
            <input type="checkbox" id="remote" placeholder="" ng-model="client.isRemote" />
        </div>

    </div>
</div>