<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/normalize.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css" />
    <link href="foundation-icons/foundation-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.min.css">
    <link href="jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.min.css"> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/vendor/modernizr.min.js"></script>


    <!-- endbuild -->
</head>
<body ng-app="TrainerApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- off canvas -->

    <div class="off-canvas-wrap">
        <div class="inner-wrap">
            <!--<nav class="top-bar" data-topbar="">
                <ul class="title-area">
                    <li class="name">
                        <h1>
                            <a href="#/">
                                <h1 class="title" ng-hide="title">
                                    FIO<span class="metro">TRAINER</span><span>
                                        <div class="progress-bar">
                                            <div id="circularG">
                                                <div id="circularG_1" class="circularG">
                                                </div>
                                                <div id="circularG_2" class="circularG">
                                                </div>
                                                <div id="circularG_3" class="circularG">
                                                </div>
                                                <div id="circularG_4" class="circularG">
                                                </div>
                                                <div id="circularG_5" class="circularG">
                                                </div>
                                                <div id="circularG_6" class="circularG">
                                                </div>
                                                <div id="circularG_7" class="circularG">
                                                </div>
                                                <div id="circularG_8" class="circularG">
                                                </div>
                                            </div>

                                        </div>
                                    </span>
                                </h1>
                                <h1 class="title" ng-show="title">
                                    {{title}}<span class="metro">{{subTitle}}</span>
                                </h1>
                            </a>
                        </h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                </ul>


                <section class="top-bar-section">
                    <ul class="right">
                        <li class="divider"></li>
                        <li class="">
                            <a href="#">Main</a>
                        </li>
                        <li class="divider"></li>
                        <li class="">
                            <a href="#">Main</a>
                        </li>
                        <li class="divider"></li>
                        <li class="">
                            <a href="#">Main</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="fi-home nav-icon" href="#/">
                                <span></span>

                            </a>

                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="right-off-canvas-toggle menu-icon"><span></span></a>

                        </li>
                    </ul>
                </section>
            </nav>-->


            <nav class="tab-bar">
                <section class="middle tab-bar-section">
                    <a href="#/">
                        <h1 class="title" ng-hide="title">
                            TRACKER <span class="metro">METRO</span><span>
                                <div class="progress-bar">
                                    <div id="circularG">
                                        <div id="circularG_1" class="circularG">
                                        </div>
                                        <div id="circularG_2" class="circularG">
                                        </div>
                                        <div id="circularG_3" class="circularG">
                                        </div>
                                        <div id="circularG_4" class="circularG">
                                        </div>
                                        <div id="circularG_5" class="circularG">
                                        </div>
                                        <div id="circularG_6" class="circularG">
                                        </div>
                                        <div id="circularG_7" class="circularG">
                                        </div>
                                        <div id="circularG_8" class="circularG">
                                        </div>
                                    </div>

                                </div>
                            </span>
                        </h1>
                        <!--<h1 class="title" ng-show="title">
                            {{title}}<span class="metro">{{subTitle}}</span>
                        </h1>-->
                    </a>

                </section>

                <section class="right-small top-a">
                    <a class="fi-home nav-icon" href="#/dashboard">
                        <span></span>

                        <!--<span class="label alert notify">3</span>-->
                    </a>

                </section>
                <section class="right-small">
                    <a class="right-off-canvas-toggle fi-list" ><span></span></a>
                </section>
            </nav>


            <aside class="right-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li ng-controller="LoginCtrl">
                        <a ng-href="#/login" ng-click="login()" class="button success" ng-hide="loggedInUser">LOG IN</a>
                        <a ng-href="" ng-click="logout()" class="button alert" ng-show="loggedInUser">LOG OUT</a>
                    </li>
                    <li><label>MENU</label></li>
                    <li><a ng-href="#/myRoutines/" class="">My Routines</a></li>
                    <li><a ng-href="#/myClients/" class="">My Clients</a></li>
                    <li><a ng-href="#/trainer" class="">Trainer portal</a></li>

                    <!--<li><label>GYM ADMIN</label></li>
                    <li><a ng-href="#/addFitnessCenter/" class="">Add Fitness Center</a></li>

                    <li><label>SUPER ADMIN</label></li>
                    <li><a ng-href="#/addFitnessOrg/" class="">Add Fitness Org</a></li>-->

                </ul>
            </aside>

            <section class="main-section">            
                <div class="container" ng-view=""></div>
            </section>

            <a class="exit-off-canvas"></a>

        </div>
    </div>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>


    <!--<script src="foundation-5.0.2/js/jquery.js"></script>
    <script src="foundation-5.0.2/js/foundation.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/vendor/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.min.js"></script>
    <!--<script src="https://trainerapp.azure-mobile.net/client/MobileServices.Web-1.0.3.min.js"></script>-->
    <script src="http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.1.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/amplifyjs/1.1.0/amplify.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
    <script src="jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>


    <!-- build:js scripts/modules.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbuild -->
    <!--***** GETTING FROM CDN *********** -->

    <!--    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-resource.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-cookies.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-sanitize.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-animate.js"></script>-->
    <!-- ************* END CDN ********** -->
    <script>

        angular.element(".off-canvas-list li a").click(function () {
            angular.element(".exit-off-canvas").click();
        });
    </script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers\main.js"></script>
    <script src="scripts/controllers\dashboard.js"></script>
    <script src="scripts/common\Notifier.js"></script>
    <script src="scripts/common\Environment.js"></script>
    <script src="scripts/common\Models.js"></script>
    <script src="scripts/common\DataImport.js"></script>
    <script src="scripts/common\LocalStorage.js"></script>
    <script src="scripts/common\Utils.js"></script>
    <script src="scripts/controllers\admin.js"></script>
    <script src="scripts/controllers\superadmin.js"></script>
    <script src="scripts/common\Settings.js"></script>
    <script src="scripts/feature-training\Ctrl-Trainer.js"></script>
    <script src="scripts/feature-training\Ctrl-CreateRoutine.js"></script>
    <script src="scripts/feature-training\Ctrl-CreateRoutineAssignments.js"></script>
    <script src="scripts/services\TrainerService.js"></script>
    <script src="scripts/feature-training\Ctrl-MyRoutines.js"></script>
    <script src="scripts/feature-training\Ctrl-RoutineDetails.js"></script>
    <script src="scripts/feature-training\Ctrl-SelectRoutine.js"></script>
    <script src="scripts/feature-training\Ctrl-Go.js"></script>
    <script src="scripts/feature-training\Ctrl-Workout.js"></script>
    <script src="scripts/feature-training\Ctrl-Summary.js"></script>
    <script src="scripts/feature-training\Ctrl-Cardio.js"></script>
    <script src="scripts/feature-acct-mgmt\Ctrl-Login.js"></script>
    <script src="scripts/feature-acct-mgmt\Ctrl-AddClient.js"></script>
    <script src="scripts/feature-acct-mgmt\Ctrl-EditClient.js"></script>
    <script src="scripts/feature-acct-mgmt\Ctrl-AddTrainer.js"></script>
    <script src="scripts/feature-signup\Ctrl-Signup.js"></script>
    <script src="scripts/feature-signup\Ctrl-Signup-FitnessOrg.js"></script>
    <script src="scripts/feature-acct-mgmt\Ctrl-MyClients.js"></script>
    <script src="scripts/feature-acct-mgmt\Ctrl-MyTrainers.js"></script>
    <script src="scripts/feature-acct-mgmt\Ctrl-PinReset.js"></script>
    <script src="scripts/feature-acct-mgmt\Ctrl-AddFitnessOrg.js"></script>
    <script src="scripts/feature-acct-mgmt\Ctrl-AddFitnessCenter.js"></script>
    <script src="scripts/feature-acct-mgmt\Ctrl-UserPortal.js"></script>
    <script src="scripts/feature-acct-mgmt\Ctrl-FitnessOrgPortal.js"></script>
    <script src="scripts/feature-acct-mgmt\Ctrl-FitnessCenterPortal.js"></script>
    <script src="scripts/services\IdentityService.js"></script>
    <script src="scripts/services\AzureService.js"></script>
    <script src="scripts/services\RoutineService.js"></script>
    <script src="scripts/services\ExerciseService.js"></script>
    <script src="scripts/services\SignupService.js"></script>
    <script src="scripts/services\UserService.js"></script>
    <script src="scripts/feature-user-profiles\Ctrl-UserProfile.js"></script>
    <script src="vendor/ng-google-chart.js"></script>
    <script src="scripts/controllers/progress-chart.js"></script>
    <script src="scripts/controllers\welcome.js"></script>
    <script src="scripts/services/NavService.js"></script>
    <!-- endbuild -->
</body>
</html>
