<div class="row page">
    <div class="page-header">
        <div class="row">
            <div class="small-6 medium-8 columns">
                <h3 class="page-title">Add a trainer</h3>

            </div>

            <!--<div class="small-6 medium-4 columns">
                <a href="#/addClient" class="icon-link"><i class="fi-plus size-72"></i><span>add trainer</span></a>
            </div>-->
        </div>
    </div>


    <div class="page-content">

        <form ng-submit="addTrainer()" ng-model="trainer">

            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label for="firstName">First Name:</label>
                    <input type="text" placeholder="firstName" ng-model="trainer.firstName" required />
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label for="lastName">Last Name:</label>
                    <input type="text" placeholder="lastName" ng-model="trainer.lastName" required />
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label for="email">Email:</label>
                    <input type="text" placeholder="email" ng-model="trainer.email" required />
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label for="phone">Phone:</label>
                    <input type="text" placeholder="phone" ng-model="trainer.phone" required />
                </div>
            </div>

            <div class="row"><div class="small-12 columns"><input class="button" type="submit" value="Submit" /></div></div>
        </form>
    </div>
</div>