<div class="row page">
    <div class="row">
        <div class="small-12 medium-8 columns">
            <h3 class="page-title">Fitness Organization Admin Portal</h3>

        </div>
    </div>


    <div class="page-content">
        <section class="padded">
            <div class="row">
                <div class="small-12 columns">
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 option-selections">
                        <li>
                            <h4>Fitness Centers & Locations</h4>
                            <ul class="menu-list">
                                <li class=""><a href="#/allLocations"><i class="step fi-torsos-all-female size-72"></i><span>View all Fitness locations</span></a></li>
                                <li class=""><a href="#/addSite"><i class="step fi-plus size-72"></i> <span>Add a new Fitness center</span></a></li>

                            </ul>
                        </li>
                        <li>
                            <h4>Personal Trainers</h4>
                            <ul class="menu-list">
                                <li class=""><a ng-href="#/myTrainers"><i class="step fi-results-demographics size-72"></i><span>View all trainers</span></a></li>
                                <li class=""><a ng-href="#addTrainer"><i class="step fi-plus size-72"></i> <span>Add a new trainer</span></a></li>
                                <li class=""><a ng-click="editUser()"><i class="step fi-pencil size-72"></i><span>Edit trainer information</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <h4>Users & Clients</h4>
                            <ul class="menu-list">
                                <li class=""><a href="#/myClients"><i class="step fi-results-demographics size-72"></i><span>View all my clients</span></a></li>
                                <li class=""><a ng-href="#/deleteClient"><i class="step fi-trash size-72"></i><span>Delete a client</span></a></li>

                            </ul>
                        </li>
                        <li>
                            <h4>Accounts & Security </h4>
                            <ul class="menu-list">
                                <li class=""><a href=""><i class="step fi-lock size-72"></i> <span>Lock an account</span></a></li>
                                <li class=""><a ng-click=""><i class="step fi-key size-72"></i><span>PIN Reset</span></a></li>
                            </ul>
                        </li>
                      
                    </ul>
                </div>
            </div>


        </section>


    </div>
</div>
