<div class="row page">

    <div class="row">
        <div class="small-12 medium-8 columns">
            <h3 class="page-title">Log in</h3>

        </div>
    </div>

    <div class="page-content">

        <form data-abide ng-submit="login()" ng-model="login">

            <!--<div class="row">
                <div class="small-12 medium-6 columns">
                    <label>Email</label>
                    <input type="email" placeholder="Email" ng-model="login.email" required />
                </div>

            </div>

            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>PIN Number:</label>
                    <input type="password" placeholder="1234" ng-model="login.pin" required maxlength="4" />
                </div>
            </div>-->
            <!--<div class="row">
                <div class="small-12 columns">
                    <input class="button" type="submit" value="Login" />
                </div>
            </div>-->

            <div class="row log-in-btns" ng-hide="user">
                <div class="small-12 medium-6 columns">
                    <p>Log in with Facebook, Google, Microsoft or Twitter</p>
                    <ul class="small-block-grid-4">
                        <li>
                            <a class="button" ng-click="login('facebook')"><span class="fi-social-facebook"></span></a>
                        </li>
                        <li>
                            <a class="button warning" ng-click="login('google')"><span class="fi-social-google-plus"></span></a>
                        </li>
                        <li>
                            <a class="ms-glyph" ng-click="login('microsoftaccount')">
                                <!--<span class="fi-social-windows"></span>-->
                                <img class="ad_glyph" src="https://secure.aadcdn.microsoftonline-p.com/aad/18.0.18781/images/MSA_Glyph.png" alt="Icon for Microsoft account">
                            </a>
                        </li>
                        <li>
                            <a class="button" ng-click="login('twitter')"><span class="fi-social-twitter"></span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </form>


    </div>
</div>
