<div class="row page">
    <div class="page-header">
        <div class="row">
            <div class="small-6 medium-8 columns">
                <h3 class="page-title">Personal Trainers</h3>

            </div>

            <div class="small-6 medium-4 columns">
                <a href="#/addTrainer" class="icon-link"><i class="fi-plus size-72"></i><span>add trainer</span></a>
            </div>
        </div>
    </div>


    <div class="page-content">
        <div class="row">

            <div class="small-12 medium-6 columns" ng-hide="trainers.length">
                <div class="panel">
                    <h3><small>You have no trainers in your account. <a ng-href="#/addTrainer">Add a trainer</a></small></h3>
                </div>
            </div>

            <div class="small-12 columns">
                <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">

                    <li ng-repeat="trainer in trainers">
                        <div class="panel trainer-card">
                            <div class="row">
                                <div class="small-4 medium-5 large-4 columns">
                                    <div class="avatar-wrapper">
                                        <img ng-src="{{trainer.imageUrl}}" alt="" />
                                    </div>
                                </div>

                                <div class="small-8 medium-7 large-8 columns client-info">
                                    <h3 class="name"><small><span>{{trainer.firstName}}</span> <span class="show-for-large-up">{{trainer.lastName}}</span></small></h3>
                                    <!--<p class="package">EXP: <span>3 years</span></p>-->
                                    <span class="label warning">ISSA CERTIFIED</span>
                                </div>
                            </div>

                        </div>

                    </li>


                </ul>

            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <a ng-click="goToPortal()" class="button primary">Back to Portal</a>
            </div>
        </div>

    </div>

</div>