<div class="row page">

    <div class="row">
        <div class="small-12 medium-8 columns">
            <h3 class="page-title">New User Sign up</h3>

        </div>
    </div>



    <div class="page-content">

        <div class="row log-in-btns" ng-hide="user">
            <div class="small-12 medium-6 columns">
                <h4>Got one of these accounts?</h4>
                <p>Log in with Facebook, Google, Microsoft or Twitter</p>
                <ul class="small-block-grid-4">
                    <li>
                        <a class="button" ng-click="login('facebook')"><span class="fi-social-facebook"></span></a>
                    </li>
                    <li>
                        <a class="button warning" ng-click="login('google')"><span class="fi-social-google-plus"></span></a>
                    </li>
                    <li>
                        <a class="ms-glyph" ng-click="login('microsoftaccount')">
                            <!--<span class="fi-social-windows"></span>-->
                            <img class="ad_glyph" src="https://secure.aadcdn.microsoftonline-p.com/aad/18.0.18781/images/MSA_Glyph.png" alt="Icon for Microsoft account">
                        </a>
                    </li>
                    <li>
                        <a class="button" ng-click="login('twitter')"><span class="fi-social-twitter"></span></a>
                    </li>
                </ul>
            </div>
        </div>


        <form data-abide ng-submit="addUser()" ng-model="user" ng-show="user">
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>Select account type</label>
                    <select ng-model="user.userType" required>
                        <option value="{{type.key}}" ng-repeat="type in userTypes">{{type.value}}</option>
                    </select>
                </div>

            </div>
       

            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>First Name:</label>
                    <input type="text" placeholder="First Name" ng-model="user.firstName" required />
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>Last Name:</label>
                    <input type="text" placeholder="Last Name" ng-model="user.lastName" required />
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>Email</label>
                    <input type="email" placeholder="Email" ng-model="user.email" required />
                </div>

            </div>

            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>Cell Phone:</label>
                    <input type="tel" placeholder="Phone" ng-model="user.phone" />
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <input class="button" type="submit" value="Sign up" />
                </div>
            </div>
        </form>

    </div>
</div>
