<div class="row page">
    <h3 class="page-title">Admin Page</h3>

    <div class="page-content">

        <div class="row">
            <div class="small-12 medium-4 columns">
                <div class="panel">
                    <h5>Account Management</h5>
                    <a ng-href="#/addClient" class="button" ng-click="">Add a new client</a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="small-12 columns">
                <ul class="example-orbit-content" data-orbit style="min-height: 150px;">
                    <li data-orbit-slide=" headline-1">
                        <div>
                            <h2>Start page</h2>
                            <a data-orbit-link="trainer-tasks" class="small button">Start</a>
                        </div>
                    </li>


                    <li data-orbit-slide="trainer-tasks">
                        <div>
                           
                            <h4>Hello trainer</h4>
                            <ul class="menu-list">
                                <li class=""><a data-orbit-link="manage-clients"><i class="fi-clipboard-notes size-72"></i> <span>Manage clients</span></a></li>
                                <li class=""><a data-orbit-link="manage-routines"><i class="fi-clipboard-notes size-72"></i> <span>Manage routines</span></a></li>
                                <li class=""><a data-orbit-link="manage-schedule"><i class="fi-clipboard-notes size-72"></i> <span>Manage Schedule</span></a></li>

                            </ul>

                        </div>
                    </li>


                    <li data-orbit-slide="manage-clients">
                        <div>
                            <h4>Manage Clients</h4>
                            <ul class="menu-list">
                                <li class=""><a href="" data-orbit-link=""><i class="fi-clipboard-notes size-72"></i> <span>Add new client</span></a></li>
                                <li class=""><a href="" data-orbit-link=""><i class="fi-clipboard-notes size-72"></i> <span>Update client</span></a></li>
                                <li class=""><a href="" data-orbit-link=""><i class="fi-clipboard-notes size-72"></i> <span>Delete client</span></a></li>

                            </ul>
                        </div>
                    </li>


                    <li data-orbit-slide="manage-routines">
                        <div>
                          <h4>Manage training routines</h4>
                            <ul class="menu-list">
                                <li class=""><a href="" data-orbit-link=""><i class="fi-clipboard-notes size-72"></i> <span>Add routine</span></a></li>
                                <li class=""><a href="" data-orbit-link=""><i class="fi-clipboard-notes size-72"></i> <span>Edit routine</span></a></li>
                                <li class=""><a href="" data-orbit-link=""><i class="fi-clipboard-notes size-72"></i> <span>Delete routine</span></a></li>

                            </ul>
                        </div>
                    </li>


                    <li data-orbit-slide="manage-schedule">
                        <div>
                            <h2>Manage schedule</h2>
                            <h3>Subheadline</h3>
                        </div>
                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>
