<div class="row page">
    <h3 class="page-title">Create a new routine</h3>

    <div class="page-content">
        <div class="row">
            <div class="small-6 columns">
                <div class="panel">
                    <h5>Step 1: Select exercises</h5>
                </div>
            </div>

            <div class="small-6 columns">
                <div class="panel">
                    <h5>Step 2: Name your routine</h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-6 columns">
                <div class="off-canvas-wrap create-routine">
                    <div class="inner-wrap">

                        <!-- Off Canvas Menu -->
                        <aside class="left-off-canvas-menu">
                            <!-- whatever you want goes here -->
                            <ul class="off-canvas-list">
                                <li><label>Select a body part</label></li>
                                <li ng-repeat ="bp in bodyParts"><a href="" ng-click="selectBodypart(bp)">{{bp}}</a></li>
                            </ul>
                        </aside>

                        <!-- main content goes here -->
                        <nav class="tab-bar">
                            <section class="left-small">
                                <a class="left-off-canvas-toggle menu-icon"><span></span></a>
                            </section>

                            <section class="right tab-bar-section">
                                <h1 class="title">{{exTitle}}</h1>
                            </section>

                        </nav>
                        <div class="row">
                            <div class="small-12 columns">
                                <table>
                                     <tbody>
                                        <tr ng-repeat="exercise in exercises">
                                            <td>{{exercise.name}}</td>
                                            <td>
                                                <span ng-repeat="tag in split(exercise.tags)">
                                                    <span class="label success">{{tag}}</span>

                                                </span>
                                            </td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                            <p</p>
                        </div>

                        <!-- close the off-canvas menu -->
                        <a class="exit-off-canvas"></a>

                    </div>
                </div>
            </div>
        </div>


        <section class="padded">
            <div class="row">
                <div class="small-12 medium-4 columns">
                    <a ng-href="#/createRoutine" class="button" ng-click="">Create a new routine</a>
                </div>

            </div>

        </section>


        </div>
</div>