<div class="row page">


    <div class="page-content">
        <!--<div class="row" ng-show="loggedInUser.isTrainer">
            <div class="small-6 medium-8 columns">
                <h2><i class="step fi-calendar size-72"></i> <span>My Appointments</span></h2>

            </div>


        </div>-->

        <section class="padded">
            <div class="row">
                <div class="small-12 medium-6 large-4 columns">

                    <a class="button" ng-href="#/dashboard">Get started</a>
                    <a class="button warning" ng-href="#/signup">Sign up</a>
                </div>

                <!--<div class="small-12 medium-6 large-8 columns">
                    <h3 ng-show="loggedInUser.isTrainer"><i class="step fi-map size-72"></i> <span>Remote clients</span> <span>| <small><a href="#/myClients">See all</a></small></span></h3>

                </div>-->
            </div>



        </section>
 </div>
</div>
