<img src="../images/2k/fio-trees-dark.jpg" class="panorama" />
<img src="../images/2k/slice.png" style="visibility: hidden;" />
    
    <div class="main-title">
    <div class="row">
        <div class="small-12">
            <h1>TRACKER <span class="metro">METRO</span></h1>
            <p>Pro Club, Bellevue, WA</p>
        </div>
    </div>

</div>

    <div class="hero-text">

        <div class="row">
            <div class="small-12 large-8 columns">
                <h2 ng-show="loggedInUser">Welcome, {{loggedInUser.firstName}}</h2>
                <h4>"{{quote.quote}}" <span class="subheader"> <small>{{quote.author}}</small></span></h4>
                <!--                                    <a href="#/" class="button">Lets go!</a>-->
            </div>


        </div>
        <div class="row">
            <div class="small-12">
                <img src="../images/2k/slicex.png" style="visibility: hidden;" />

            </div>

            <div class="small-12 medium-6 large-5 columns">
                <a class="button" ng-href="#/dashboard">Lets do this!</a>
                <a class="button warning" ng-href="#/login" ng-hide="loggedInUser">New user? Sign up</a>


            </div>
        </div>
    </div>
                    


