<div class="row page">
    <div class="row">
        <div class="small-12 medium-8 columns">
            <h3 class="page-title">Workout Summary</h3>

        </div>
    </div>

    <div class="page-content">
        <div class="row">
            <!--<div class="small-12 medium-6  large-4 columns" ng-repeat="ex in exercises">
                <a ng-href="" ng-click="selectExercise(ex)" class="block-panel rtn">{{ex.name}}</a>
            </div>-->
            <div class="small-12 columns">
                <div class="panel" ng-repeat="summary in summaryItems">
                    <h5>{{summary.id}}</h5>
                    <p ng-repeat="set in summary.sets">Set #{{$index + 1}} Weight: {{set.weight}} Reps: {{set.reps}}</p>
                </div>
                

            </div>
        </div>


        <div class="row">
            <div class="small-12 medium-4 columns">
                <a ng-href="#/summary" ng-click="" class="button block success">Trainer portal</a>
            </div>

        </div>
    </div>
</div>