<div class="row page">
    <h3 class="page-title">SUPER ADMIN PAGE</h3>

    <div class="page-content">

        <div class="row">
            <div class="small-12 columns">
                <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 option-selections">
                    <li>
                        <h4>Admin links</h4>
                        <ul class="menu-list">
                            <li class="">
                                <a href="#/addMuscleGroup">Add muscle groups</a>
                            </li>
                            <li class="">
                                <a href="#/addExerciseCategory">Add exercise categories</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <h4>Data Loading</h4>
                        <div class="panel">
                            <h5>Data Import into Azure</h5>
                            <a ng-href="" class="button warning" ng-click="loadExercises()">Load initial list of exercises</a>
                        </div>

                        <div class="panel">
                            <h5>Clear All Data</h5>
                            <a ng-href="" class="button alert" ng-click="clearData()">Clear all data</a>
                        </div>
                    </li>
                    </ul>

                    
</div>
        </div>
    </div>
</div>