<div class="row page">
    <h3 class="page-title">SUPER ADMIN PAGE</h3>

    <div class="page-content">

        <div class="row">
            <div class="small-12 medium-4">
                <div class="panel">
                    <h5>Data Import into Azure</h5>
                    <a ng-href="" class="button warning" ng-click="loadExercises()">Load initial list of exercises</a>
                </div>

                <div class="panel">
                    <h5>Clear All Data</h5>
                    <a ng-href="" class="button alert" ng-click="clearData()">Clear all data</a>
                </div>
            </div>
        </div>
    </div>
</div>