<div class="row page">
    <h3 class="page-title">Trainer Portal</h3>

    <div class="page-content">
        <section class="padded">
            <div class="row">
                <div class="small-12 medium-4 columns">
                    <div class="panelx">
                        <h4>Training routines</h4>
                        <ul class="menu-list">
                            <li class=""><a href="#/createRoutine"><i class="fi-clipboard-notes size-72"></i><span>Create a new routine</span></a></li>
                            <li class=""><a href="#"><i class="step fi-check size-72"></i> <span>Menu</span></a></li>
                            <li class=""><a href="#"><i class="step fi-check size-72"></i> <span>Menu</span></a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </section>

        </div>
    </div>
</div>