<div class="row page">
    <h3 class="page-title">Trainer Portal</h3>

    <div class="page-content">
        <section class="padded">
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <div class="panel">
                        <h4>Training routines</h4>
                        <ul class="menu-list">
                            <li class=""><a href="#/createRoutine"><i class="fi-clipboard-notes size-72"></i><span>Create a new routine</span></a></li>
                            <li class=""><a href="#/myRoutines/{{trainer.id}}"><i class="step fi-torsos-all-female size-72"></i><span>View routines</span></a></li>

                        </ul>
                    </div>
                </div>

                <div class="small-12 medium-6 columns">
                    <div class="panel">
                        <h4>Clients</h4>
                        <ul class="menu-list">
                            <li class=""><a href="#/addClient"><i class="step fi-plus size-72"></i> <span>Add a client</span></a></li>
                            <li class=""><a href="#/myClients/{{trainer.id}}"><i class="step fi-torsos-all-female size-72"></i><span>View all my clients</span></a></li>
                        </ul>
                    </div>
                </div>


            </div>

        </section>

        </div>
    </div>
</div>